<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {# normalize must go before skeleton #}
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/v/dt/dt-1.10.13/se-1.2.0/datatables.min.css"/>
    <link rel="stylesheet" type="text/css" href="{{ css_url('application.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ css_url('tooltip.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ css_url('normalize.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ css_url('skeleton.css') }}">
    {% block css %}{% endblock %}
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.13/se-1.2.0/datatables.min.js"></script>
    <script src="{{ js_url('application.js') }}"></script>
    <script src="{{ js_url('splice-graph.js') }}"></script>
    <script src="{{ js_url('isoforms.js') }}"></script>
    <script src="{{ js_url('violins.js') }}"></script>
    {% block js %}{% endblock %}
</head>
<body>
<div class="container">
    {% block content %}{% endblock %}
</div>
</body>
</html>