line {
    shape-rendering: crispEdges;
}

.junction {
    cursor: default;
}

.info {
    cursor: pointer;
}

div.slider {
    display: none;
}

table.dataTable tbody td.no-padding {
    padding: 0;
}

.button.disabled.previous, .button.disabled.next, .button.disabled.previous:hover, .button.disabled.next:hover {
    border-color: white;
    color: white;
    cursor: default;
}

.button.next, .button.previous {
    margin-left: 3px;
    margin-right: 3px;
    padding-left: 20px;
    padding-right: 20px;
}

.isoform {
    margin: 0;
}

table.isoform > tr {
    background-color: transparent !important;
}

table.isoform > tr > td {
    padding: 0;
    border: 0;
}

td::after {
    text-align: center;
}

.loading {
    display: None;
    text-align: center;
    padding-top: 25px;
    width: 150px;
    height: 50px;
    border: solid gray 1px;
    background-color: whitesmoke;
    position: fixed;
    top: 50%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

/*
Have the primer tables move to "mobile" view at 910px width
 */

.columns.primer-table {
    width: 100% !important;
    float: left !important;
    box-sizing: border-box !important;
    margin-left: 0 !important;
}

@media (min-width: 950px) {
    .six.columns.primer-table {
        width: 48% !important;
    }

    .columns.primer-table:first-child {
        margin-left: 0 !important;
    }

    .columns.primer-table {
        margin-left: 4% !important;
    }
}

.modifiers {
    background-color: whitesmoke;
    padding: 20px;
    border: #E1E1E1 solid 1px;
    white-space: nowrap;
}

.title {
    border-top: solid #E1E1E1 1px;
    border-bottom: solid #E1E1E1 1px;
    margin-top: 7rem;
    margin-bottom: 3.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
}